@model CategoryProductsViewModel

<!--  category Section Start -->
<!--  For developer (More icons find in https://www.svgrepo.com/) -->
<section class="section ec-category-section section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="ec-title">دسته‌بندی‌های برتر</h2>
                </div>
            </div>
        </div>

        <div class="row mt-1 margin-minus-b-15 margin-minus-t-15">
            <div id="ec-cat-slider" class="ec-cat-slider owl-carousel">
                @foreach (var item in Model.Categories)
                {
                    <div class="ec_cat_content ec_cat_content_1">
                        <div class="ec_cat_inner ec_cat_inner-1">

                            <div>
                                <img src="~/Upload/Img/Category/@item.Picture.ImageUrl"
                                     class="svg_img"
                                     alt=@item.Title height="50px" width="70px" />
                            </div>
                            <div class="ec-category-desc">
                                <a asp-controller="Home" asp-action="ParentCategoryProducts" asp-route-id="@item.Id" class="cat-show-all">
                                    <h3> @item.Title <span title="Category Items">(53)</span></h3>
                                </a>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</section>
<!--category Section End -->


<!-- Product tab Area Start -->
<section class="section ec-product-tab section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar area start -->
            <div class="ec-side-cat-overlay"></div>
            <div class="col-lg-3 sidebar-dis-991" data-animation="fadeIn">
                <div class="cat-sidebar">
                    <div class="cat-sidebar-box">
                        <div class="ec-sidebar-wrap">
                            <!-- Sidebar Category Block -->
                            <div class="ec-sidebar-block">
                                <div class="ec-sb-title">
                                    <h3 class="ec-sidebar-title">
                                        دسته‌بندی<button class="ec-close">×</button>
                                    </h3>
                                </div>
                                @foreach (var pItem in Model.Categories)
                                {

                                    <div class="ec-sb-block-content">
                                        <ul>
                                            <li>
                                                <div class="ec-sidebar-block-item">
                                                    <img src="~/Upload/Img/Category/@pItem.Picture.ImageUrl"
                                                         class="svg_img"
                                                         alt="drink">
                                                    @pItem.Title
                                                </div>
                                                <ul>
                                                    @foreach (var chItem in pItem.Subcategories)
                                                    {
                                                        <li>
                                                            <div class="ec-sidebar-sub-item">
                                                                <a asp-controller="Home" asp-action="ChildCategoryProducts" asp-route-id="@chItem.Id">@chItem.Title</a>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                            <!-- Sidebar Category Block -->
                        </div>
                    </div>

                </div>
            </div>

            <!-- Product area start -->
            <div class="col-lg-9 col-md-12">
                <!-- ec New Arrivals, ec Trending, ec Top Rated Start -->
                <div class="row">
                    <!-- ec New Arrivals -->
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-6 ec-all-product-content ec-new-product-content margin-b-30"
                         data-animation="fadeIn">
                    </div>
                </div>
                <!-- ec New Arrivals, ec Trending, ec Top Rated end -->
                <!-- Product tab area start -->
                <div class="row space-t-50">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="ec-title">لیست محصولات </h2>
                        </div>
                    </div>

                </div>
                <div class="row margin-minus-b-15">
                    <div class="col">
                        <div class="tab-content">
                            <!-- 1st Product tab start -->
                            <div class="tab-pane fade show active" id="all">
                                <div class="row">
                                    @if (Model.Products.Count>0) { 
                                    @foreach (var item in Model.Products)
                                    {
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                                            <div class="ec-product-inner">
                                                <div class="ec-pro-image-outer">
                                                    <div class="ec-pro-image">
                                                        <a href="product-left-sidebar.html" class="image">
                                                            <img class="main-image"
                                                                 src="~/Upload/Img/Product/@item.Avatar"
                                                                 alt="@item.Name" />
                                                            <img class="hover-image"
                                                                 src="~/Upload/Img/Product/@item.Avatar"
                                                                 alt="@item.Name" />
                                                        </a>
                                                        <span class="percentage">20%</span>
                                                        <div class="ec-pro-actions">
                                                            <a class="ec-btn-group wishlist"
                                                               title="علاقه‌مندی">
                                                                <img src="assets/Home/images/icons/pro_wishlist.svg"
                                                                     class="svg_img pro_svg"
                                                                     alt="" />
                                                            </a>
                                                            <a href="#"
                                                               class="ec-btn-group quickview"
                                                               data-link-action="quickview"
                                                               title="نمایش سریع"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#ec_quickview_modal">
                                                                <img src="assets/Home/images/icons/quickview.svg"
                                                                     class="svg_img pro_svg"
                                                                     alt="" />
                                                            </a>
                                                            <a href="compare.html"
                                                               class="ec-btn-group compare"
                                                               title="مقایسه">
                                                                <img src="assets/Home/images/icons/compare.svg"
                                                                     class="svg_img pro_svg"
                                                                     alt="" />
                                                            </a>
                                                            <a href="javascript:void(0)"
                                                               title="افزودن به کارت"
                                                               class="ec-btn-group add-to-cart">
                                                                <img src="assets/Home/images/icons/pro_cart.svg"
                                                                     class="svg_img pro_svg"
                                                                     alt="" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ec-pro-content">
                                                    <a href="shop-left-sidebar-col-3.html">
                                                        <h6 class="ec-pro-stitle">@item.Name</h6>
                                                    </a>
                                                    <h5 class="ec-pro-title">
                                                        <a href="product-left-sidebar.html">
                                                            @item.Description
                                                        </a>
                                                    </h5>
                                                    <div class="ec-pro-rat-price">
                                                        <span class="ec-pro-rating">
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star"></i>
                                                            <i class="ecicon eci-star"></i>
                                                        </span>
                                                        <span class="ec-price">
                                                            <span class="new-price"> از @item.MinPrice تومان تا @item.MaxPrice تومان</span>

                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="ec-spe-price">
                                            <span class="new-price">کالایی در این دسته بندی تعریف نشده است !</span>

                                        </div>
                                    
                                    }
                                </div>
                            </div>
                            <!-- ec 1st Product tab end -->

                        </div>
                    </div>
                </div>
                <!-- Product tab area end -->
            </div>
        </div>
    </div>
</section>
<!-- ec Product tab Area End -->
