

@model IndexViewModel
@inject FileUploadPathsDto FilePath;

@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("ParentCategoryNavbar")


<!--  ردیف مزایده و خدمات ماStart -->
<div class="row">
    <div class="col-md-9">
        <!-- پیشنهاد ویژه روز Start -->
        <div class="row" data-animation="fadeIn">
            <!--  Special Section Start -->
            <div class="ec-spe-section col-lg-12 col-md-12 col-sm-12 sectopn-spc-mb">
                <div class="col-md-12">
                    <div class="section-title">
                        <a href="product-left-sidebar.html">
                        <h2 class="ec-title">پیشنهاد ویژه </h2>
                        </a>
                    </div>
                </div>

                <div class="ec-spe-products">
                    @foreach (var item in Model.auctionViewModels)
                    {
                        
                        <!---  مزایده اول --->
                        <div class="ec-spe-product">
                            <div class="ec-spe-pro-inner">
                                <div class="ec-spe-pro-image-outer col-md-6 col-sm-12">
                                    <div class="ec-spe-pro-image">
                                        <img class="img-responsive"
                                             src="~/Upload/Img/Product/@item.ProductDto.Avatar"
                                             alt="" />
                                    </div>
                                </div>
                                <div class="ec-spe-pro-content col-md-6 col-sm-12 mx-1">
                                    <div class="ec-spe-pro-rating">
                                        <span class="ec-spe-rating-icon">
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star"></i>
                                            <i class="ecicon eci-star"></i>
                                        </span>
                                    </div>
                                    <h5 class="ec-spe-pro-title">
                                        <a href="product-left-sidebar.html">
                                            @item.ProductDto.Name
                                        </a>
                                    </h5>
                                    <div class="ec-spe-pro-desc">
                                            @item.ProductDto.Description
                                    </div>
                                    @if (item.Bids.Count > 0)
                                    {
                                        <div class="ec-spe-price">
                                            <span class="new-price">بالاتربین پیشنهاد  @item.Bids.Max(b => b.BidPrice)</span>

                                        </div>
                                    }
                                    else
                                    {
                                       <div class="ec-spe-price">
                                            <span class="new-price">اولین پیشنهاد را شما دهید</span>

                                        </div>
                                        
                                    }

                                    <div class="ec-spe-pro-btn">
                                        <a href="#" class="btn btn-lg btn-primary">
                                            ارسال پیشنهاد
                                        </a>
                                    </div>
                                    <div class="countdowntimer">
                                        <span class="ec-spe-count-desc">
                                            عجله کن! پیشنهاد به پایان می رسد در:
                                        </span>
                                        <span id="ec-spe-count-1"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---  مزایده اول --->
                    }

                    <!---  مزایده دوم --->
                    <div class="ec-spe-product">
                        <div class="ec-spe-pro-inner">
                            <div class="ec-spe-pro-image-outer col-md-6 col-sm-12">
                                <div class="ec-spe-pro-image">
                                    <img class="img-responsive"
                                         src="assets/Home/images/product-image/110_1.jpg"
                                         alt="" />
                                </div>
                            </div>
                            <div class="ec-spe-pro-content col-md-6 col-sm-12">
                                <div class="ec-spe-pro-rating">
                                    <span class="ec-spe-rating-icon">
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star"></i>
                                        <i class="ecicon eci-star"></i>
                                    </span>
                                </div>
                                <h5 class="ec-spe-pro-title">
                                    <a href="product-left-sidebar.html">شامپو ، نرم کننده مو و فیس واش</a>
                                </h5>
                                <div class="ec-spe-pro-desc">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                    و با استفاده از طراحان گرافیک است.
                                </div>
                                <div class="ec-spe-price">
                                    <span class="new-price">15000 تومان</span>
                                    <span class="old-price">20000 تومان</span>
                                </div>
                                <div class="ec-spe-pro-btn">
                                    <a href="#" class="btn btn-lg btn-primary">
                                        افزودن به سبد خرید
                                    </a>
                                </div>
                                <div class="ec-spe-pro-progress">
                                    <span class="ec-spe-pro-progress-desc">
                                        <span> فروخته شده: <b>20</b></span><span>موجودی: <b>40</b></span>
                                    </span>
                                    <span class="ec-spe-pro-progressbar"></span>
                                </div>
                                <div class="countdowntimer">
                                    <span class="ec-spe-count-desc">
                                        عجله کن! پیشنهاد به پایان می رسد در:
                                    </span>
                                    <span id="ec-spe-count-2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---  مزایده دوم --->
                
                </div>
            </div>
            <!--  Special Section End -->
        </div>
        <!-- پیشنهاد ویژه روز end -->
    </div>
    <!--start  ستون معرفی خدمات ما -->
    <div class="ec-services-section col-lg-3 col-md-3 col-sm-3"
         data-animation="slideInLeft">
        <div class="col-md-12">
            <div class="section-title">
                <h2 class="ec-title">خدمات ما</h2>
            </div>
        </div>
        <div class="ec_ser_block">
            <div class="ec_ser_content ec_ser_content_1 col-sm-12">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <img src="assets/Home/images/icons/service_4_1.svg"
                             class="svg_img ser_svg"
                             alt="" />
                    </div>
                    <div class="ec-service-desc">
                        <h2>تحویل در سراسر جهان</h2>
                        <p>برای سفارش بالای 100 تومان</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_2 col-sm-12">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <img src="assets/Home/images/icons/service_4_2.svg"
                             class="svg_img ser_svg"
                             alt="" />
                    </div>
                    <div class="ec-service-desc">
                        <h2>تحویل روز بعد</h2>
                        <p>تنها در کشور</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_3 col-sm-12">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <img src="assets/Home/images/icons/service_4_3.svg"
                             class="svg_img ser_svg"
                             alt="" />
                    </div>
                    <div class="ec-service-desc">
                        <h2>بهترین پشتیبانی آنلاین</h2>
                        <p>ساعت: 8 صبح - 11 عصر</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_4 col-sm-12">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <img src="assets/Home/images/icons/service_4_4.svg"
                             class="svg_img ser_svg"
                             alt="" />
                    </div>
                    <div class="ec-service-desc">
                        <h2>سیاست بازگشت</h2>
                        <p>بازگشت آسان و رایگان</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_5 col-sm-12">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <img src="assets/Home/images/icons/service_4_5.svg"
                             class="svg_img ser_svg"
                             alt="" />
                    </div>
                    <div class="ec-service-desc">
                        <h2>30% برگشت پول</h2>
                        <p>برای سفارش بالای 100 تومان</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End ستون معرفی خدمات ما -->
</div>
<!--  ردیف مزایده و خدمات ما End-->
@await Component.InvokeAsync("BoothNavbar")

<!-- Product tab Area Start -->
<section class="section ec-product-tab section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar area start -->
            <div class="ec-side-cat-overlay"></div>
            <div class="col-lg-3 sidebar-dis-991" data-animation="fadeIn">
                <div class="cat-sidebar">
                    <div class="cat-sidebar-box">
                        <div class="ec-sidebar-wrap">
                            @await Component.InvokeAsync("CategorySidebar")
                        </div>
                    </div>

                </div>
            </div>

            <!-- Product area start -->
            <div class="col-lg-9 col-md-12">
                <!-- ec New Arrivals, ec Trending, ec Top Rated Start -->
                <div class="row">
                    <!-- ec New Arrivals -->
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-6 ec-all-product-content ec-new-product-content margin-b-30"
                         data-animation="fadeIn">
                    </div>
                </div>
                <!-- ec New Arrivals, ec Trending, ec Top Rated end -->
                <!-- Product tab area start -->
                <div class="row space-t-50">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="ec-title">محصولات </h2>
                        </div>
                    </div>

                    <!-- Tab Start -->
                    <div class="col-md-12 ec-pro-tab">
                        <ul class="ec-pro-tab-nav nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all"> پرفروش ترین ها </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Tab End -->
                </div>
                <div class="row margin-minus-b-15">
                    <div class="col">
                        <div class="tab-content">
                            <!-- 1st Product tab start -->
                            <div class="tab-pane fade show active" id="all">
                                <div class="row">
                                    @foreach (var item in Model.productsViewModels)
                                    {
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                                        <div class="ec-product-inner">
                                            <div class="ec-pro-image-outer">
                                                <div class="ec-pro-image">
                                                        <a class="image">
                                                        <img class="main-image"
                                                                 src="~/@FilePath.Product/@item.AvatarFileUrl"
                                                             alt="Product" />
                                                        <img class="hover-image"
                                                                 src="~/@FilePath.Product/@item.AvatarFileUrl"
                                                             alt="Product" />
                                                    </a>

                                                    <div class="ec-pro-actions">
                                                            <a asp-controller="Product" asp-action="ProductFullPage" asp-route-productId="@item.Id"
                                                           class="ec-btn-group quickview"
                                                           title="نمایش سریع">
                                                            <img src="assets/Home/images/icons/quickview.svg"
                                                                 class="svg_img pro_svg"
                                                                 alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ec-pro-content">
                                                    <a asp-controller="Product" asp-action="ProductFullPage" asp-route-productId="@item.Id">
                                                        <h6 class="ec-pro-stitle">@item.Name</h6>
                                                </a>
                                                <h5 class="ec-pro-title">
                                                        <a asp-controller="Product" asp-action="ProductFullPage" asp-route-productId="@item.Id">
                                                            @item.Description
                                                    </a>
                                                </h5>
                                                <div class="ec-pro-rat-price">
                                                        @if (@item.MinPrice != @item.MaxPrice)
                                                        {
                                                            <span class="ec-price">
                                                                <span class="new-price"> از @item.MinPrice تومان تا @item.MaxPrice تومان</span>

                                                            </span>

                                                        }
                                                        else
                                                        {
                                                            <span class="ec-price">
                                                                <span class="new-price"> @item.MaxPrice تومان</span>

                                                            </span>
                                                        }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }

                                </div>
                            </div>
                            <!-- ec 1st Product tab end -->

                        </div>
                    </div>
                </div>
                <!-- Product tab area end -->
            </div>
        </div>
    </div>
</section>
<!-- ec Product tab Area End -->