@model CreateAuctionViewModels;
@inject FileUploadPathsDto filePath;
@inject SignInManager<AppUser> signInManager;

@{
    ViewData["Title"] = "ProductfullPage";
}



<!-- Sart Single product -->
<div class="ec-shop-rightside col-lg-9 col-md-12">

    <div class="ec-vendor-dashboard-card">

        <div class="ec-vendor-card-body">
            <div class="ec-vendor-card-header">
                <h5> ثبت مزایده </h5>
                <div class="ec-header-btn">
                    @if (@Model.MainUrl != null)
                    {
                        <a href="@Model.MainUrl" class="btn btn-lg btn-primary">بازگشت -></a>

                    }else
                    {
                        <a href="@Model.MainUrl" asp-controller="Product" asp-action="ParentCategories">دسته بندی محصولات </a>
                    }

                </div>
            </div>
            <!-- Single product content Start -->
            <div class="row">
                <div class=" single-pro-img-no-sidebar">
                    <div class="single-product-scroll">
                        <div class="single-product-cover">

                            <div class="single-slide zoom-image-hover">
                                <img class="img-responsive" src="~/@filePath.Product/@Model.Avatar.ImageUrl"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" single-pro-desc-no-sidebar mt-2">
                    <div class="single-pro-content">

                        <h5 class="ec-single-title">@Model.ProductName</h5>
                        <h5 class="ec-single-title">برند :@Model.ProductBrand</h5>

                        <form method="post">
                            @Html.HiddenFor(m => m.ProductId)
                            @Html.HiddenFor(m => m.MainUrl)
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <div class="row d-flex align-items-end mt-3">
                                <label class="form-label">زمان آغاز:</label>
                                <div class=" col-4">
                                    <label asp-for="@Model.StartYear" class="form-label"></label>
                                    <input asp-for="@Model.StartYear" class="form-control" type="text" />
                                </div>

                                <div class=" col-2">
                                    <label asp-for="@Model.StartMonth" class="form-label"></label>
                                    <select asp-for="@Model.StartMonth" class="form-select">
                                        @for (int i = 1; i < 13; i++)
                                        {
                                            <option value="@i"> @i</option>
                                        }

                                    </select>
                                </div>

                                <div class=" col-2">
                                    <label asp-for="@Model.StartDay" class="form-label"></label>
                                    <select asp-for="@Model.StartDay" class="form-select">
                                        @for (int i = 1; i < 31; i++)
                                        {
                                            <option value="@i"> @i</option>
                                        }

                                    </select>
                                </div>
                                <div class=" col-2">
                                    <label asp-for="@Model.StartHour" class="form-label"></label>
                                    <select asp-for="@Model.StartHour" class="form-select">
                                        @for (int i = 0; i < 24; i++)
                                        {
                                            <option value="@i"> @i</option>
                                        }

                                    </select>
                                </div>
                            </div>


                            <div class="row d-flex align-items-end mt-3">
                                <label class="form-label">زمان اتمام:</label>
                                <div class=" col-4">
                                    <label asp-for="@Model.EndYear" class="form-label"></label>
                                    <input asp-for="@Model.EndYear" class="form-control" type="text" />
                                </div>

                                <div class=" col-2">
                                    <label asp-for="@Model.EndMonth" class="form-label"></label>
                                    <select asp-for="@Model.EndMonth" class="form-select">
                                        @for (int i = 1; i < 13; i++)
                                        {
                                            <option value="@i"> @i</option>
                                        }

                                    </select>
                                </div>
                                <div class=" col-2">
                                    <label asp-for="@Model.EndDay" class="form-label"></label>
                                    <select asp-for="@Model.EndDay" class="form-select">
                                        @for (int i = 1; i < 31; i++)
                                        {
                                            <option value="@i"> @i</option>
                                        }

                                    </select>
                                </div>
                                <div class=" col-2">
                                    <label asp-for="@Model.EndHour" class="form-label"></label>
                                    <select asp-for="@Model.EndHour" class="form-select">
                                        @for (int i = 0; i < 24; i++)
                                        {
                                            <option value="@i"> @i</option>
                                        }

                                    </select>
                                </div>
                            </div>


                            <div class="row d-flex align-items-end mt-2">
                                <div class=" col-4">
                                    <label asp-for="@Model.BasePrice" class="form-label"></label>
                                    <input asp-for="@Model.BasePrice" class="form-control" type="text" />
                                </div>

                                <div class="col-4 justify">
                                    <button type="submit" class="ec-btn-group btn btn-success"> ثبت مزایده</button>
                                </div>
                            </div>

                        </form>


                    </div>


                </div>
            </div>
            <!--Single product content End -->
        </div>

    </div>
</div>
</div>
<!-- End Single product -->


