@model List<GetAllSellersViewModel>;
@inject FileUploadPathsDto filePaths;

<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-contacts col-12">
            <div class="col-6">
                <h1>لیست فروشندگان</h1>
                <p class="breadcrumbs"><span><a href="index.html">خانه</a></span>
                    <span><i class="mdi mdi-chevron-left"></i></span>فروشنده</p>
            </div>

            <div class="col-6">
                  @*<button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addVendor"> افزودن فروشنده </button></div>*@
            </div>
        </div>
        <div class="row">
             <div class="col-12">
                <div class="ec-vendor-list card card-default">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="responsive-data-table" class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>پروفایل</th>
                                        <th>غرفه</th>
                                        <th>مدال غرفه</th>
                                        <th>فروشنده</th>
                                        <th>ایمیل</th>
                                        <th>تلفن همراه</th>
                                        <th>وضعیت کاربر</th>
                                        <th>وضعیت غرفه</th>
                                        <th>پیوستن </th>
                                        <th>فعالیت</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{int counter =1;}

                                    @if (Model!=null && Model.Count > 0)
                                    {
                                        @foreach(var item in Model)
                                        {
                                            <tr>
                                                <td>@counter</td>

                                                <td><img class="vendor-thumb" src="~/@filePaths.BoothAvatar/@item.AvatarPicture.ImageUrl" alt="تصویر غرفه "></td>

                                                <td> @item.BoothName</td>

                                                <td>@item.Medal.Name</td>

                                                <td>@item.Firstname @item.Lastname</td>

                                                <td><a href="mailto:@item.Email">@item.Email</a></td>

                                                <td>+1-256-325-8652</td>
                                                
                                                <td>
                                                        @if (@item.IsUserActive)
                                                        {
                                                            <span class="badge badge-success">فعال</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-danger">غیر فعال</span>
                                                        }
                                                </td>

                                                <td>
                                                        @if (@item.IsBoothActive ==true)
                                                        {
                                                            <span class="badge badge-success">فعال</span>
                                                        }
                                                        else if (@item.IsBoothActive == false)
                                                        {
                                                            <span class="badge badge-danger">غیر فعال</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-warning">در انتظار تایید</span>
                                                        }
                                                    </td> 
                                               
                                                <td>@item.CreatedAt</td>
                                               
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-outline-success">اطلاعات</button>

                                                            <button
                                                            type="button"
                                                            class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false" data-display="static"><span
                                                            class="sr-only">اطلاعات</span></button>

                                                        <div class="dropdown-menu">

                                                            <a class="dropdown-item"
                                                            asp-controller="Sellers"
                                                            asp-action="Details"
                                                            asp-route-sellerId="@item.SellerId">جزئیات</a>

                                                            <a class="dropdown-item text-danger"
                                                               asp-controller="Sellers"
                                                               asp-action="Delete"
                                                               asp-route-sellerId="@item.SellerId"
                                                               asp-route-boothId="@item.BoothId">حذف غرفه و فروشنده</a>

                                                        </div>
                                                        
                                                        </div>
                                                </td>
                                            </tr>
                                           
                                             counter++;
                                         }
                                     }
                                     else
                                     {

                                     }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

      @*  <div class="modal fade modal-add-contact" id="addVendor" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <form>
                        <div class="modal-header px-4">
                            <h5 class="modal-title" id="exampleModalCenterTitle">فروشنده جدید اضافه کنید</h5>
                        </div>
                        <div class="modal-body px-4">
                            <div class="form-group row mb-6"><label for="coverImage"
                                    class="col-sm-4 col-lg-2 col-form-label">تصویر فروشنده</label>
                                <div class="col-sm-8 col-lg-10">
                                    <div class="custom-file mb-1"><input type="file"
                                            class="custom-file-input" id="coverImage" required><label
                                            class="custom-file-label" for="coverImage"> انتخاب پرونده ... </label>
                                        <div class="invalid-feedback"مثال بازخورد پرونده سفارشی نامعتبر است
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <div class="form-group"><label for="firstName">نام</label><input
                                            class="form-control" id="firstName" value="جان"></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group"><label for="lastName"> نام خانوادگی </label><input
                                            class="form-control" id="lastName" value="دویی"></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4"><label for="userName">نام کاربری</label><input class="form-control" id="userName"
                                            value="johndoe"></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4"><label for="email">ایمیل:</label><input
                                            type="email" class="form-control" id="email"
                                            value="johnexample@gmail.com"></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4"><label
                                            for="Birthday"> تاریخ تولد</label><input class="form-control"
                                            id="Birthday" value="10-12-1401"></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4"><label for="event">آدرس </label><input
                                            class="form-control" id="event" value="آدرس در اینجا"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer px-4"><button type="button"
                                class="btn btn-secondary btn-pill" data-bs-dismiss="modal">لغو</button>
                            <button type="button" class="btn btn-primary btn-pill">ذخیره </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   *@
    </div>
</div>