@model ProductViewModel;
@inject FileUploadPathsDto filePath;
@inject SignInManager<AppUser> signInManager;
@{
    ViewData["Title"] = "ProductfullPage";
}
<!-- Sart Single product -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="ec-pro-rightside ec-common-rightside col-lg-12 col-md-12">

                <!-- Single product content Start -->
                <div class="single-pro-block">
                    <div class="single-pro-inner">
                        <div class="row">
                            <div class="single-pro-img single-pro-img-no-sidebar">
                                <div class="single-product-scroll">
                                    <div class="single-product-cover">
                                        @foreach (var item in Model.Pictures)
                                        {
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="~/@filePath.Product/@item.ImageUrl"
                                                     alt="">
                                            </div>

                                        }


                                    </div>
                                    <div class="single-nav-thumb">
                                        @if (Model.Pictures.Count > 1)
                                        {
                                            @foreach (var item in Model.Pictures)
                                            {
                                                <div class="single-slide">
                                                    <img class="img-responsive" src="~/@filePath.Product/@item.ImageUrl"
                                                         alt="">
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="single-slide">
                                                <img class="img-responsive" src="~/@filePath.Product/@Model.Pictures.FirstOrDefault().ImageUrl"
                                                     alt="">
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="single-pro-desc single-pro-desc-no-sidebar">
                                <div class="single-pro-content">
                                    <h5 class="ec-single-title">@Model.Name</h5>
                                    <div class="ec-single-rating-wrap">
                                        <div class="ec-single-rating">
                                            <h5 class="ec-single-title">برند :@Model.Brand</h5>
                                        </div>
                                        <span class="ec-read-review">
                                            @Model.Grantee
                                        </span>
                                    </div>
                                    <div class="ec-single-desc">
                                        @Model.Description
                                    </div>
                                    @if (Model.BoothProducts.Count > 0)
                                    {
                                        @foreach (var item in Model.BoothProducts)
                                        {

                                            <div class="ec-single-price-stoke">
                                                    <div class="m-2 ec-single-stoke col-3">
                                                    <span class="ec-single-ps-title">غرفه</span>
                                                    <span class="ec-single-sku">@item.Booth.Name </span>
                                                </div>
                                                    <div class="m-2 ec-single-stoke col-3">
                                            <span class="ec-single-ps-title">رتبه فروشنده </span>
                                                <span class="ec-single-sku">@item.Booth.MedalName</span>
                                        </div>
                                                    <div class="m-2 ec-single-price col-3">
                                            <span class="ec-single-ps-title"> قیمت</span>
                                                <span class="new-price">@item.Price تومان</span>
                                        </div>
                                                    <div class="m-2 ec-single-qty col-3">
                                                     <div class="ec-single-cart ">
                                                         @if(signInManager.IsSignedIn(User))
                                                         {
                                                                <a asp-controller="Cart"
                                                                asp-action="AddToCart"
                                                                asp-route-priceId="@item.Id"
                                                                class="ec-btn-group btn btn-success">افزودن به سبد خرید</a>
                                                         }else
                                                         {
                                                               <a href="javascript:void(0)" title="افزودن به کارت"
                                                              class="ec-btn-group add-to-cart btn btn-lg btn-primary" type="submit">افزودن به سبد خرید</a>   
                                                         }

                                                     </div>

@*                                                     <div class=" qty-plus-minus">
                                                         <input asp-for="@Model.CreateOrder.Count" class="qty-input" type="text" name="ec_qtybtn" value="1">
                                                     </div>*@
                                        </div>

                                            </div>
                                        }
                                    }else
                                    {
                                    <div class="ec-single-price-stoke">
                                                    <div class="m-2 ec-single-stoke col">
                                                    <span class="ec-single-ps-title text-danger">هیچ فروشنده ای برای کالا یافت نشد.</span>
                                                    </div>
                                    </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single product content End -->
                <!-- Single product tab start -->
                <div class="ec-single-pro-tab">
                    <div class="ec-single-pro-tab-wrapper">
                        <div class="ec-single-pro-tab-nav">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab"
                                       data-bs-target="#ec-spt-nav-details" role="tablist">جزییات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-info"
                                       role="tablist">اطلاعات بیشتر</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-review"
                                       role="tablist">نظرات</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content  ec-single-pro-tab-content">
                            <div id="ec-spt-nav-details" class="tab-pane fade show active">
                                <div class="ec-single-pro-tab-desc">
                                    <p>
                                        @Model.InformationDetails
                                    </p>
                                    <ul>
                                        <li> هر نوع محصول که می خواهید - ساده، قابل تنظیم </li>
                                        <li> محصولات الکترونیکی و دیجیتال</li>
                                        <li> مدیریت موجودی</li>
                                        <li> موجود در تمامی شعبه ها</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="ec-spt-nav-info" class="tab-pane fade">
                                <div class="ec-single-pro-tab-moreinfo">
                                    <ul>
                                        <li><span>@Model.IncludedComponents</span></li>

                                    </ul>
                                </div>
                            </div>

                            <div id="ec-spt-nav-review" class="tab-pane fade">
                                <div class="row">
                                    <!--بخش نمایش نظرات مشتریان-->
                                    <div class="ec-t-review-wrapper">
                                        @if (Model.Comments !=null && Model.Comments.Count != 0)
                                        { 
                                            @foreach (var item in Model.Comments)
                                            {
                                                    <p>
                                                        @item.CreatedAt <hr/>
                                                    </p>
                                            <div class="ec-t-review-item">
                                                <div class="ec-t-review-avtar">
                                                    <img src="~/assets/Home/images/review-image/1.jpg" alt="">
                                                </div>
                                                <div class="ec-t-review-content">
                                                        <div class="ec-t-review-name">@item.Customer.FirstName @item.Customer.LastName </div>
                                                    <div class="ec-t-review-bottom">
                                                        <p>
                                                            @item.Text
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                                
                                            }
                                        }
                                        else
                                        {
                                            <div class="ec-t-review-item">
                                                <div class="ec-t-review-content">

                                                    <div class="ec-t-review-bottom">
                                                        <p>
                                                            هنوز خریداری بازخود خود را ثبت نکرده است.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                       
                                        <!--بخش نمایش نظرات مشتریان پایان-->




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details description area end -->
            </div>

        </div>
    </div>
</section>
<!-- End Single product -->